.sidebar-header {
  background: #0f843d;
}

.fixed .sidebar .sidebar-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .chat-container {
    height: calc(100vh - 97px);
  }

  .message-content {
    height: calc(100vh - 248px);
  }
}

@media (min-width: 992px) {
  .messenger-dialog__area {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    border-right: 0;
  }

  .chat-container {
    border-width: 1px;
  }
}

@media (min-width: 1200px) {
  .chat-panel {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.chat-area-bottom .form-control {
  padding: 10px 50px 10px 20px;
}

.chat-panel .chat-header .btn {
  padding: .375rem .75rem;
  line-height: inherit;
  margin-right: inherit;
  font-size: inherit;
  color: #fff;
}

.message-content .message .avatar {
  margin: 0;
  margin-right: 15px;
}

.radio-list label span.green,
.message-content.bg-text-green .message .text.me {
  background: #16994a;
}